
#main nav span {
  position: absolute;
  top: 156px;
  left: 26px;
  color: #000;
  width:70px;
}

#main nav .prod .buy {
  background: url(../img/buy_prod.png) no-repeat;
/*  width: 428px;
  height: 413px;*/
  display: none;
  position: absolute;
  right:116px;
  top: 0;
  z-index: 9999;
}


.buy {
  padding:20px 0px 0 20px;
  overflow: hidden;
  width: 390px !important;
  height: 220px;
  font-family: 'PFAgoraSansProRegular';
}

.BLeft .buy {
  padding:10px 0px 0 36px;
}





#main nav .prod:hover .buy {
  display: block;
}

#main nav .BLeft .buy {
  background: url(../img/buy_prod_left.png) no-repeat;
  width: 428px;
  height: 413px;
  display: none;
  position: absolute;
  left:176px;
  top: 0;
}

.TwoRow {
  width: 716px;
  margin: 0 auto; 
}
